@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
/*font-family: 'Cutive Mono', monospace;*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');
/*font-family: 'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Questrial');
/*font-family: 'Questrial', sans-serif;*/


* {
  background-color: #f2f2f2;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}

.App-header {
  background-color: #f2f2f2;
  height: 10vh;
  padding: 1vh;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Questrial', sans-serif;
}

.App-body {
  margin-top: 25vh;
}

.App-title a {
  font-size: 23px;
  margin-left: 40px;

  -webkit-transition: color 700ms ease;
  -moz-transition: color 700ms ease;
  -ms-transition: color 700ms ease;
  -o-transition: color 700ms ease;
  transition: color 700ms ease;
}

.App-title a:hover {
  color: rgb(2, 178, 204);
}

.App-subtitle {
  display: flex;
  margin-right: 100px;
}

.App-header h2 {
  align-self: center;
  align-items: right;
  margin: 0 15px 0 15px;
  background-color: #f2f2f2;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 182, 193, 0);

  -webkit-transition: border 700ms ease;
  -moz-transition: border 700ms ease;
  -ms-transition: border 700ms ease;
  -o-transition: border 700ms ease;
  transition: border 700ms ease;

}

.App-header a {
  text-decoration: none;
  color: black;
  background-color: #f2f2f2;
}

.App-subtitle h2:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(2, 178, 204, 1);
}

.Projects {
  display: flex;
  justify-content: space-around;
  font-weight: 300;
  margin-top: 20vh;
  height: 50vh;
}

.Projects-left {
  width: 40vw;
  text-align: left;
}

.Projects-left h1 {
  font-size: 60px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.Projects-right img {
  height: 390px;
  width: 640px;
}

.About {
  display: flex;
  justify-content: center;
}

.About-intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 40px;
  width: 40vw;
  line-height: 35px;
}

.About h3 {
  font-weight: 400;
}

.AboutPhoto {
  height: 50vh;
  width: auto;
}

.description a {
  color: rgb(2, 178, 204);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 182, 193, 0);
  margin-top: 10px;

  -webkit-transition: border 700ms ease;
  -moz-transition: border 700ms ease;
  -ms-transition: border 700ms ease;
  -o-transition: border 700ms ease;
  transition: border 700ms ease;
}

.description a:hover {
  border-bottom: 1px solid rgba(2, 178, 204, 1);
}

.Contact {
  display: flex-column;
  text-align: left;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

.Contact-direct {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}

.Contact-direct p {
  margin-left: 10px;
}

.Contact-links {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.Contact-links a {
  margin: 0 20px 0 20px;
  text-decoration: none;
  color: #282828;
  font-size: 25px;

  border-bottom: 1.5px solid rgba(2, 178, 204, 0);
  -webkit-transition: border 700ms ease;
  -moz-transition: border 700ms ease;
  -ms-transition: border 700ms ease;
  -o-transition: border 700ms ease;
  transition: border 700ms ease;
}

.Contact-links a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(2, 178, 204, 1);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
