@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
/*font-family: 'Cutive Mono', monospace;*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');
/*font-family: 'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Questrial');
/*font-family: 'Questrial', sans-serif;*/


* {
  background-color: rgba(242, 242, 242, 1);
  position: relative;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}

.App-header {
  background-color: rgba(242, 242, 242, 0);
  height: 70px;
  padding: 1vh;
  color: black;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  font-family: 'Questrial', sans-serif;
}

.App-body {
  margin-top: 15vh;
  background-color: rgba(242, 242, 242, 1);
}

.App-title a {
  font-size: 23px;
  margin-left: 40px;

  -webkit-transition: color 700ms ease;
  -moz-transition: color 700ms ease;
  -ms-transition: color 700ms ease;
  -o-transition: color 700ms ease;
  transition: color 700ms ease;
}

.App-title a:hover {
  color: rgb(2, 178, 204);
}

.App-subtitle {
  display: flex;
  margin-right: 100px;
}

.App-header h2 {
  align-self: center;
  align-items: right;
  margin: 0 15px 0 15px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 182, 193, 0);

  -webkit-transition: border 700ms ease;
  -moz-transition: border 700ms ease;
  -ms-transition: border 700ms ease;
  -o-transition: border 700ms ease;
  transition: border 700ms ease;

}

.App-header a {
  text-decoration: none;
  color: black;
}

.App-subtitle h2:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(2, 178, 204, 1);
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: 300;
  margin: 40px 0;
  height: 500px;
}

.Projects-left {
  width: 40vw;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.Projects-left h1 {
  font-size: 60px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.Projects-right img {
  height: 390px;
  width: 640px;
}

.About {
  text-align: left;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.About-top {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  padding-bottom: 100px;
}

.About-intro {
  flex-basis: 50%;
  margin: 10px 0 0 0;
}

.About-title {
  display: flex;
  flex-wrap: wrap;
}

.About-intro h1 {
  margin-bottom: 30px;
  padding-right: 10px;
  line-height: 40px;
}

.About h3 {
  font-weight: 400;
  margin-top: 15px;
}

.AboutPhoto {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.AboutPhoto img {
  height: 450px;
  width: 471.11px;
}

.AboutPhoto label {
  margin-top: 5px;
  font-size: 15px;
}

.Contact {
  margin-top: 30px;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Contact-direct {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}

.Contact-direct p {
  margin-left: 10px;
}

.Contact-links a {
  margin: 0 40px 0 0;
  text-decoration: none;
  color: #282828;
  font-size: 30px;

  border-bottom: 1.5px solid rgba(2, 178, 204, 0);
  -webkit-transition: border 700ms ease;
  -moz-transition: border 700ms ease;
  -ms-transition: border 700ms ease;
  -o-transition: border 700ms ease;
  transition: border 700ms ease;
}

.Contact-links a:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(2, 178, 204, 1);
}

.About-skills {
  padding: 60px;
  border-top: 1px solid rgba(2, 178, 204, 1);
}

.About-skills h2 {
  padding: 0 0 20px 40px;
}

.About-skills h3 {
  padding: 0 0 20px 60px;
}

.About-skills h4 {
  padding: 10px 0 0 80px;
  font-weight: normal;
}

.About-skills p {
  padding: 10px 0 25px 100px;
  width: 80vw;
}

.About-skills li {
  margin-left: 120px;
  list-style-type: circle;
}

.description a {
  color: rgb(2, 178, 204);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 182, 193, 0);
  margin-top: 10px;

  -webkit-transition: border 700ms ease;
  -moz-transition: border 700ms ease;
  -ms-transition: border 700ms ease;
  -o-transition: border 700ms ease;
  transition: border 700ms ease;
}

.description a:hover {
  border-bottom: 1px solid rgba(2, 178, 204, 1);
}

@media only screen and (max-width : 1000px) {
  .App-header {
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
  }

  .App-title a {
    margin-left: 0;
    align-self: center;
  }

  .App-subtitle {
    margin: 20px 0 0 0;
    align-self: center;
  }

  .App-body {
    margin-top: 10px;
    text-align: center;
  }

  .About {
    padding: 20px;
    text-align: center;
    justify-content: center;
  }

  .About-top {
    justify-content: center;
  }

  .AboutPhoto img {
    width: 95vw;
    height: auto;
    align-self: center;
  }

  .AboutPhoto label {
    font-size: 10px;
    text-align: left;
  }

  .About-title {
    justify-content: center;
    margin-top: 15px;
  }

  .About-title h1 {
    line-height: 32px;
    font-size: 30px;
    padding: 0;
    margin: 5px;
  }

  .About-skills {
    width: 90vw;
    margin: 0;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
  }

  .About-skills h2 {
    margin: 0;
    text-align: left;
    padding: 0 0 10px 0;
  }

  .About-skills h3 {
    margin: 0;
    text-align: left;
    padding: 0;
  }

  .About-skills h4 {
    margin: 0;
    text-align: left;
    padding: 20px 0 5px 0;
  }

  .About-skills p {
    align-self: center;
    text-align: left;
    padding: 0;
  }

  .About-skills li {
    margin-left: 10px;
    text-align: left;
    padding: 0;
    list-style-position: inside;
  }

  .Contact-links {
    display: flex;
    flex-direction: column;
  }

  .Contact-links a {
    margin: 15px 0;
    align-self: center;
  }

  .Projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;

    height: auto;
    border-top: 1px solid rgba(2, 178, 204, 1);
    padding-top: 20px;
  }

  .Projects-left {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
  }

  .description {
    width: 90vw;
  }

  .Projects-left h1 {
    font-size: 30px;
    overflow-wrap: normal;
  }

  .Projects-left a {
    overflow-wrap: break-word;
  }

  .Projects-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .Projects-right img {
    width: 95%;
    height: auto;

    margin: 5px;
  }

}
